body{
	margin: 0px 0px;
	background-color: #1759FF;
	width: 1906px;
	height: 1080px;
	background-image: url('pictures/Element.png');
	background-attachment: fixed;
  	background-position: right top;
  	background-repeat: no-repeat;
  	background-size: 40% 100%;
  	font-family: Poppins,sans-serif;
}
.logoImage{
	width: 329px;
	height: 178px;
	margin-top: 80px;
	margin-left: 295px; 
}
.loginBox{
	margin-top: 108px;
	margin-left: 131px;
	padding-top: 80px;
	padding-left: 57px;
	width: 726px;
	height: 484px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.13);
	border-radius: 78px;
}
.loginBox input{
	margin-bottom: 48px;
	width: 630px;
	height: 77px;
	background-color: #F1F1F1;
	border-radius: 23px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	border: 0px;
	outline: none;
}
.loginBox input[type="text"],input[type="password"],input::placeholder{
	color: #052A88;
	font-size: 26px;
	font-weight: 300;
	font-style: normal;
	line-height: 39px;
}
.button{
	padding-left: 0px;
	margin-top: 56px;
}
.LoginButton{
	background-color: #1759FF;
	width: 385px;
	height: 77px;
	box-shadow: 0px 0px 50px -23px #001C81;
	border-radius: 38.5px;
	border: 0;
	font-size: 31px;
	color: white;
	font-weight: bold;
	line-height: 46px;
}
.RegisterButton{
	margin-left: 33px;
	background-color: #383838;
	width: 223px;
	height: 77px;
	box-shadow: 0px 0px 50px -23px #001C81;
	border-radius: 38.5px;
	border: 0;
	font-size: 31px;
	color: white;
	font-weight: bold;
	line-height: 46px;
}
.Forgot{
	width: 630px;
	height: 40px;
	margin-top: 56px;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 40px;
	text-align: center;
}
.Forgot a{
	text-decoration: none;
	color: #000000;
}
